<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ComBitBang.ClkPin.Pin" value="RTS"/>
    <add key="ComBitBang.MosiPin.Pin" value="DTR"/>
    <add key="ComBitBang.MisoPin.Pin" value="CTS"/>
    <add key="ComBitBang.ResetPin.Pin" value="TxD"/>
    <add key="ComBitBang.ResetPin.Invert" value="true"/>
    <add key="StkV1.ResetPin.Pin" value="DTR"/>
    <add key="StkV1.ResetPin.Invert" value="false"/>
    <add key="StkV1.UseReset" value="true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>